<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Weather Visualization</h1>
    <p class="lead">Data visualizations of weather conditions </p>
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="locationInput">Location</label>
      <input type="text" class="form-control" id="locationInput" aria-describedby="locationHelp" placeholder="Enter a location">
      <small id="locationHelp" class="form-text text-muted">Full address, city, and/or zip code is acceptable</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<router-outlet></router-outlet>
