<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="../assets/images/VW Logo.svg" width="45" height="45" class="d-inline-block align-top" alt="">
  </a>
  <span *ngIf="hasLocation">Visual Weather</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="!hasLocation" class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="hasLocation" class="nav-link" routerLink="/app">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
