.navbar {
  padding-top: .25rem;
  padding-bottom: 0;

  span {
    padding-right: 1rem;
    padding-left: .5rem;
    padding-bottom: .25rem;
    font-family: 'Lemon', cursive;
    color:#FFFFFF;
    font-size: 20px;
  }
}
