@import '../../assets/styles/color';

.nav {
  padding-left:4em;
}

.nav-tabs {
  padding-top: 40px;
  background-image: url("../../assets/images/halftone-yellow.png");
  background-color: $color-yellow;
  line-height: 1.5;
  font-size: 1.2rem;

  .nav-item {
    padding-right: 5px;

    .nav-link {
      background-color: $color-light-grey;
      color: $color-grey;
      border: none;
    }

    .nav-link.add-location {
      background-color: transparent;
      color: $color-white;
    }

    .nav-link.active {
      background-color: $color-white;
      border: none;
      color: rgb(82, 82, 82);
    }

    .nav-link:hover{
      color: $color-dark-grey;
    }

    .nav-link.active:hover{
      color: rgb(82, 82, 82);
    }

    .nav-link:focus {
      outline: none;
      color: $color-grey;
    }
  }
}

.nav-pills{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-white;
  line-height: 1.5;
  font-size: 1.2 rem;

  .nav-link{
    color: $color-grey;
  }

  .nav-link.active{
    background-color: transparent;
    color: $color-dark-grey;
  }
}
