@import './assets/styles/color';

body {
  background-color: $color-light-grey;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  background-image: url("./assets/images/halftone-yellow.png");
  background-color: $color-yellow;

  .display-4 {
    font-family: 'Lemon', cursive;
  }
}
